[submodule "libuncso2"]
	path = libuncso2
	url = https://github.com/p0358/libuncso2.git
[submodule "external/gsl-lite"]
	path = external/gsl-lite
	url = https://github.com/martinmoene/gsl-lite.git
[submodule "external/breeze-icons"]
	path = external/breeze-icons
	url = https://anongit.kde.org/breeze-icons.git
