[Desktop Entry]
Type=Application
Name=UnCSO2
Exec=uncso2 %f
Icon=tf.harmony.UnCSO2
Comment=Extract Counter-Strike: Online 2 and Titanfall Online game files
Terminal=false
Categories=Utility;Development;
Keywords=pkg;Harmony;TFO;
X-AppImage-Version=2.0.0

# For .pkg, we have to use application/x-xar, which sucks since it also assigns to .xar,
# but we can't apparently have two distinct MIME types with the same *.pkg glob. Well fuck.
MimeType=application/x-xar;inode/directory;
